
/* Styles for GTPB pages by Pedro Fernandes */
/* Last edited 2008/02/20                               */

body
{
font-family: "verdana", "arial", "helvetica", "sans-serif";
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 100%;
background-color:  #F5F5F5;
text-decoration: none;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-transform: none;
text-align: left;
text-indent: 0em;
line-height: 100%;

margin: 1em 1em 1.2em 1em;
border: 0em none #fff;
padding: 0em;

}

em, i { font-style: italic; }
strong, b { font-weight: bold; }

h1, h2, h3, h4, big, huge
{
font-weight: bold;
}
huge {font-size: 300%; } 
big { font-size: 200%; } 
h1 { font-size: 130%; } 
h2 { font-size: 120%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }

p.navigation
{
border: 0.1em solid #ccc;
padding: 1em;
}

span.note
{
font-size: 80%;
font-weight: normal;
}




table
th, td
{
background-color:  #FFFFF0;
text-decoration: none;
font-style: normal; 
font-variant: normal;
font-weight: normal;
font-size: 80%;
word-spacing: normal;
letter-spacing: normal;
vertical-align: top;
text-transform: none;
text-align: justify;
text-indent: 0em;
line-height: 120%;
border: 0.1em solid;
color: black;
border-color: darkblue;
padding: 0.2em;
}

th
{
font-weight: bold;
color: #fff;
background-color: #ccc;
}

td.photo
{
vertical-align: top;
text-align: left;
width: 100px;
height: 100px;
}

td.name, td.title
{
font-weight: bold;
color: #fff;
background-color: #999;
}

td.separator
{
border: 0em none #fff;
padding: 0em;
}


pre
{
font-family: "courier new", "courier", "monospace";
font-size: 90%; 

line-height: 90%;

border: 0.1em solid #000;
padding: 1em;
}


ul { margin-left: 2em; }

li
{
text-align: left;
padding-left: 0.5em;
margin-top: 0.2em;
margin-bottom: 0em;
}


hr
{
color: #ccc;
height: 0.1em;
}


